#hornav .container-fluid {
    background-color: #313131;
    box-shadow: 0 -4px 0 #33747a inset, 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 60px;
    display: block;
}
.delete-form-inline{
    display: inline;
}
.status-buttons{
    padding-top: 24px;
}

